[fan_generic nevermore]
pin: PD14
max_power: .75
shutdown_speed: 0
#cycle_time:
#hardware_pwm:
kick_start_time: 5.0
off_below: 1.0
#tachometer_pin:
#tachometer_ppr:
#tachometer_poll_interval:
#enable_pin:
# See the "fan" section for a description of the above parameters.


##  Exhaust fan - FAN4
#[heater_fan nevermoore_fan]
#pin: PD14
#max_power: 1.0
#shutdown_speed: 0.0
#kick_start_time: 5.0
#heater: heater_bed
#heater_temp: 60
#fan_speed: 1.0